## Preprocessing

In [52]:
import openpyxl
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [53]:
# merge csv for emlakJet & hepsiEmlak

df_emlakJet = pd.read_csv("emlakJet.csv")
df_emlakJet.insert(7, "Esya_Durumu", "Eşyalı")

df_hepsiEmlak = pd.read_csv("hepsiEmlak.csv")
df_hepsiEmlak = df_hepsiEmlak.rename(columns={
    "0": "Oda_Sayisi",
    "1": "Brut",
    "2": "Net",
    "3": "Bulundugu_Kat",
    "4": "Bina_Yas",
    "5": "Isitma_Tipi",
    "6": "Kat_sayisi",
    "7": "Esya_Durumu",
    "8": "Kullanim_Durumu",
    "9": "Ilce",
    "10": "Fiyat"})

frames = [df_emlakJet, df_hepsiEmlak]
df_result = pd.concat(frames)
df_result = df_result.drop_duplicates()
display(df_result)

,Oda_Sayisi,Brut,Net,Bulundugu_Kat,Bina_Yas,Isitma_Tipi,Kat_sayisi,Esya_Durumu,Kullanim_Durumu,Ilce,Fiyat
0,2+1,80.0,75,Yarı Bodrum,21 Ve Üzeri,Isıtma Yok,3,Eşyalı,Boş,Fatih,"6,500"
1,1+1,61.0,50,4,5-10,Merkezi Doğalgaz,14,Eşyalı,Boş,Tuzla,"7,500"
2,1+1,75.0,55,8,1,Merkezi (Pay Ölçer),11,Eşyalı,Boş,Kağıthane,"19,000"
3,2+1,85.0,80,5,21 Ve Üzeri,Kombi Doğalgaz,5,Eşyalı,Boş,Üsküdar - Valide,"9,000"
4,2+1,100.0,90,4,4,Kombi Doğalgaz,5,Eşyalı,Boş,Maltepe,"20,000"
...,...,...,...,...,...,...,...,...,...,...,...
5911,3 + 1,170.0,120,3,2,Merkezi,9,Eşyalı Değil,Boş,Eyüpsultan,"40,000"
5912,2 + 1,100.0,67,21 ve üzeri,3,Merkezi,22,Eşyalı Değil,Boş,Eyüpsultan,"35,000"
5913,3 + 1,170.0,130,6,9,Merkezi (Pay Ölçer),33,Eşyalı Değil,Boş,Sarıyer,"35,000"
5914,3 + 1,165.0,135,5,Sıfır Bina,Merkezi (Pay Ölçer),20,Eşyalı Değil,Boş,Sarıyer,"38,000"
5915,1 + 1,100.0,93,10,2,Merkezi,35,Eşyalı,Boş,Şişli,"22,000"

In [54]:
# Kullanım_Durumu
df_result.drop("Kullanim_Durumu", axis = 1, inplace = True)
df_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7223 entries, 0 to 5915
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Oda_Sayisi     7223 non-null   object
 1   Brut           7223 non-null   float64
 2   Net            7223 non-null   int64
 3   Bulundugu_Kat  7223 non-null   object
 4   Bina_Yas       7223 non-null   object
 5   Isitma_Tipi    7223 non-null   object
 6   Kat_sayisi     7223 non-null   object
 7   Esya_Durumu    7223 non-null   object
 8   Ilce           7223 non-null   object
 9   Fiyat          7035 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 620.7+ KB

# Preprocessing

In [55]:
# Oda_Sayisi
df_result.loc[df_result.Oda_Sayisi == "2 + 120", "Oda_Sayisi"] = "2+1"
df_result.loc[df_result.Oda_Sayisi == "2 + 11", "Oda_Sayisi"] = "2+1"
df_result.loc[df_result.Oda_Sayisi == "1 Oda", "Oda_Sayisi"] = "1+0"
df_result.loc[df_result.Oda_Sayisi == "31 + 1", "Oda_Sayisi"] = "3+1"
df_result.loc[df_result.Oda_Sayisi == "25 + 1", "Oda_Sayisi"] = "2.5+1"
df_result.loc[df_result.Oda_Sayisi == "21 + 1", "Oda_Sayisi"] = "2+1"
df_result.loc[df_result.Oda_Sayisi == "52 + 1", "Oda_Sayisi"] = "5+1"
df_result.loc[df_result.Oda_Sayisi == "6 + 6", "Oda_Sayisi"] = "2 + 1"
df_result.loc[df_result.Oda_Sayisi == "Stüdyo", "Oda_Sayisi"] = "1+0"

df_result.loc[df_result.Oda_Sayisi == "1 + 1", "Oda_Sayisi"] = "1+1"
df_result.loc[df_result.Oda_Sayisi == "2 + 1", "Oda_Sayisi"] = "2+1"
df_result.loc[df_result.Oda_Sayisi == "3 + 1", "Oda_Sayisi"] = "3+1"
df_result.loc[df_result.Oda_Sayisi == "4 + 1", "Oda_Sayisi"] = "4+1"
df_result.loc[df_result.Oda_Sayisi == "4 + 2", "Oda_Sayisi"] = "4+2"
df_result.loc[df_result.Oda_Sayisi == "3 + 2", "Oda_Sayisi"] = "3+2"
df_result.loc[df_result.Oda_Sayisi == "6 + 1", "Oda_Sayisi"] = "6+1"

df_result.loc[df_result.Oda_Sayisi == "5 + 2", "Oda_Sayisi"] = "5+2"
df_result.loc[df_result.Oda_Sayisi == "5 + 1", "Oda_Sayisi"] = "5+1"
df_result.loc[df_result.Oda_Sayisi == "6 + 2", "Oda_Sayisi"] = "6+2"
df_result.loc[df_result.Oda_Sayisi == "2 + 2", "Oda_Sayisi"] = "2+2"
df_result.loc[df_result.Oda_Sayisi == "3 + 3", "Oda_Sayisi"] = "3+3"
df_result.loc[df_result.Oda_Sayisi == "1 + 2", "Oda_Sayisi"] = "1+2"
df_result.loc[df_result.Oda_Sayisi == "2.5 + 1", "Oda_Sayisi"] = "2.5+1"

df_result.loc[df_result.Oda_Sayisi == "4 + 0", "Oda_Sayisi"] = "4+0"
df_result.loc[df_result.Oda_Sayisi == "4 + 3", "Oda_Sayisi"] = "4+3"
df_result.loc[df_result.Oda_Sayisi == "8 + 1", "Oda_Sayisi"] = "8+1"
df_result.loc[df_result.Oda_Sayisi == "7 + 2", "Oda_Sayisi"] = "7+2"
df_result.loc[df_result.Oda_Sayisi == "2 + 0", "Oda_Sayisi"] = "2+0"
df_result.loc[df_result.Oda_Sayisi == "7 + 1", "Oda_Sayisi"] = "7+1"

In [56]:
# Isitma_Tipi
df_result.loc[df_result.Isitma_Tipi == "Merkezi Doğalgaz", "Isitma_Tipi"] = "Kombi"
df_result.loc[df_result.Isitma_Tipi == "Kombi Doğalgaz", "Isitma_Tipi"] = "Kombi"
df_result.loc[df_result.Isitma_Tipi == "Doğalgaz Sobalı", "Isitma_Tipi"] = "Kombi"
df_result.loc[df_result.Isitma_Tipi == "Doğalgaz Sobası", "Isitma_Tipi"] = "Kombi"
df_result.loc[df_result.Isitma_Tipi == "Kombi Fueloil", "Isitma_Tipi"] = "Kombi"
df_result.loc[df_result.Isitma_Tipi == "Klimalı", "Isitma_Tipi"] = "Klima"


df_result.loc[df_result.Isitma_Tipi == "Merkezi (Pay Ölçer)", "Isitma_Tipi"] = "Merkezi"
df_result.loc[df_result.Isitma_Tipi == "Sobalı", "Isitma_Tipi"] = "Soba"
df_result.loc[df_result.Isitma_Tipi == "Boş", "Isitma_Tipi"] = "Isıtma Yok"
df_result.loc[df_result.Isitma_Tipi == "Belirtilmemiş", "Isitma_Tipi"] = "Isıtma Yok"

In [57]:
# Ilce
df_result.drop(df_result[df_result['Ilce'] == "7,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "7,100"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "4,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "4,250"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "8,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "12,250"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "9,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "8,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "15,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "9,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "11,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "13,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "12,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "12,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "38,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "6,250"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "25,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "24,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "13,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "45,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "10,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "7,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "7,200"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "24,999"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "31,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "29,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "5,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "32,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "6,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "28,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "17,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "4,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "19,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "22,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "6,750"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "15,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "10,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "12,750"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "4,750"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "18,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "6,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "20,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "10,800"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "4,200"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "3,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "33,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "23,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "37,950"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "29,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "21,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "23,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "12,950"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "30,000"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "5,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "16,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "17,500"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "5,750"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "5,250"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "17,999"].index, inplace = True)
df_result.drop(df_result[df_result['Ilce'] == "11,000"].index, inplace = True)

df_result.loc[df_result.Ilce == "Üsküdar - Valide", "Ilce"] = "Üsküdar"
df_result.loc[df_result.Ilce == "Bakırköy - Ataköy 7-8-9", "Ilce"] = "Bakırköy"
df_result.loc[df_result.Ilce == "Fatih - Hırka", "Ilce"] = "Fatih"
df_result.loc[df_result.Ilce == "Bakırköy - Ataköy 2-5", "Ilce"] = "Bakırköy"
df_result.loc[df_result.Ilce == "Bakırköy - Ataköy 3-4", "Ilce"] = "Bakırköy"

In [58]:
# Esya_Durumu
df_result.loc[df_result.Esya_Durumu == "Eşyalı Değil", "Esya_Durumu"] = "Eşyasız"
df_result.loc[df_result.Esya_Durumu == "3", "Esya_Durumu"] = "Eşyasız"
df_result.loc[df_result.Esya_Durumu == "2", "Esya_Durumu"] = "Eşyasız"
df_result.loc[df_result.Esya_Durumu == "1", "Esya_Durumu"] = "Eşyasız"
df_result.loc[df_result.Esya_Durumu == "4", "Esya_Durumu"] = "Eşyasız"
df_result.loc[df_result.Esya_Durumu == "Uygun", "Esya_Durumu"] = "Eşyasız"
df_result.loc[df_result.Esya_Durumu == "Uygun değil", "Esya_Durumu"] = "Eşyasız"

In [59]:
#Brut

df_result.loc[df_result.Brut == 1.2, "Brut"] = 120
df_result.loc[df_result.Brut == 1., "Brut"] = 480

df_result['Brut'] = df_result['Brut'].astype(int)

#Net
df_result.drop(df_result[df_result['Net'] == 7].index, inplace = True)
df_result.drop(df_result[df_result['Brut'] - df_result['Net'] > 150].index, inplace = True)

In [60]:
#Bina_Yas
df_result.drop(df_result[df_result['Bina_Yas'] == "300"].index, inplace = True)

df_result.loc[df_result.Bina_Yas == "21 Ve Üzeri", "Bina_Yas"] = "21-25"
df_result.loc[df_result.Bina_Yas == "Sıfır Bina", "Bina_Yas"] = "0"
df_result.loc[df_result.Bina_Yas == "0 (Yeni)", "Bina_Yas"] = "0"

str_val=""
for i in range(1,151):
    if i <= 5:
        str_val=str(i)
    elif i >= 6 and i <= 10:
        str_val="6-10"
    elif i >= 11 and i <= 15:
        str_val="11-15"
    elif i >= 16 and i <= 20:
        str_val="16-20"
    elif i >= 21 and i <= 25: 
        str_val="21-25"
    elif i >= 26 and i <= 30:
        str_val="26-30"
    elif i >= 31 and i <= 35:
        str_val="31-35"
    elif i >= 36 and i <= 40: 
        str_val="36-40"
    elif i >= 41 and i <= 45:
        str_val="41-45"
    elif i >= 46 and i <= 50:
        str_val="46-50"
    elif i >= 51 and i <= 100:
        str_val="51-100"
    elif i >= 101 and i <= 150:
        str_val="101-150"
        
    df_result.loc[df_result.Bina_Yas == str(i), "Bina_Yas"] = str_val

In [61]:
#Kat_sayisi
df_result.loc[df_result.Kat_sayisi == "Kombi Doğalgaz", "Kat_sayisi"] = "10"
df_result.loc[df_result.Kat_sayisi == "Eşyalı", "Kat_sayisi"] = "10"
df_result.drop("Kat_sayisi", axis = 1, inplace = True)

In [62]:
#Bulundugu_Kat
df_result.loc[df_result.Bulundugu_Kat == "Çatı Katı", "Bulundugu_Kat"] = "Teras"
df_result.loc[df_result.Bulundugu_Kat == "Teras Katı", "Bulundugu_Kat"] = "Teras"
df_result.loc[df_result.Bulundugu_Kat == "En Üst Kat", "Bulundugu_Kat"] = "En Üst"
df_result.loc[df_result.Bulundugu_Kat == "Bahçe Katı", "Bulundugu_Kat"] = "0"
df_result.loc[df_result.Bulundugu_Kat == "Düz Giriş", "Bulundugu_Kat"] = "0"
df_result.loc[df_result.Bulundugu_Kat == "Giriş Katı", "Bulundugu_Kat"] = "0"
df_result.loc[df_result.Bulundugu_Kat == "Zemin", "Bulundugu_Kat"] = "0"
df_result.loc[df_result.Bulundugu_Kat == "Bodrum ve Zemin", "Bulundugu_Kat"] = "0"
df_result.loc[df_result.Bulundugu_Kat == "Tam Bodrum", "Bulundugu_Kat"] = "Bodrum"
df_result.loc[df_result.Bulundugu_Kat == "Yarı Bodrum", "Bulundugu_Kat"] = "Bodrum"

df_result.loc[df_result.Bulundugu_Kat == "Kot 1 (-1)", "Bulundugu_Kat"] = "Kot 1"
df_result.loc[df_result.Bulundugu_Kat == "Kot 2 (-2)", "Bulundugu_Kat"] = "Kot 2"
df_result.loc[df_result.Bulundugu_Kat == "Kot 3 (-3)", "Bulundugu_Kat"] = "Kot 3"
df_result.loc[df_result.Bulundugu_Kat == "Kot 3 (-3)", "Bulundugu_Kat"] = "Kot 3"

df_result.loc[df_result.Bulundugu_Kat == "30-40", "Bulundugu_Kat"] = "30"
df_result.loc[df_result.Bulundugu_Kat == "20-30", "Bulundugu_Kat"] = "25"
df_result.loc[df_result.Bulundugu_Kat == "21 ve üzeri", "Bulundugu_Kat"] = "21"

df_result.drop(df_result[df_result['Bulundugu_Kat'] == "Çatı Dubleks"].index, inplace = True)
df_result.drop(df_result[df_result['Bulundugu_Kat'] == "Müstakil"].index, inplace = True)
df_result.drop(df_result[df_result['Bulundugu_Kat'] == "Villa Tipi"].index, inplace = True)
df_result.drop(df_result[df_result['Bulundugu_Kat'] == "Bahçe Dublex"].index, inplace = True)
df_result.drop(df_result[df_result['Bulundugu_Kat'] == "Villa Katı"].index, inplace = True)

str_val=""
for i in range(1,51):
    if i <= 5:
        str_val=str(i)
    elif i >= 6 and i <= 10:
        str_val="6-10"
    elif i >= 11 and i <= 15:
        str_val="11-15"
    elif i >= 16 and i <= 20:
        str_val="16-20"
    elif i >= 21 and i <= 25: 
        str_val="21-25"
    elif i >= 26 and i <= 30:
        str_val="26-30"
    elif i >= 31 and i <= 35:
        str_val="31-35"
    elif i >= 36 and i <= 40: 
        str_val="36-40"
    elif i >= 41 and i <= 45:
        str_val="41-45"
    elif i >= 46 and i <= 50:
        str_val="46-50"
    elif i >= 51 and i <= 100:
        str_val="51-100"
    elif i >= 101 and i <= 150:
        str_val="101-150"
        
    df_result.loc[df_result.Bulundugu_Kat == str(i), "Bulundugu_Kat"] = str_val
    

#Fiyat
df_result['Fiyat'] = df_result['Fiyat'].str.replace(',', '')

In [64]:
#df_result['Bulundugu_Kat'] = df_result['Bulundugu_Kat'].astype(int)
#display(df_result[df_result['Bulundugu_Kat'] == "2"])
#df_result.Bulundugu_Kat.unique()

df_result = df_result.drop_duplicates()
df_result.info()
df_result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6757 entries, 0 to 5915
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Oda_Sayisi     6757 non-null   object
 1   Brut           6757 non-null   int32
 2   Net            6757 non-null   int64
 3   Bulundugu_Kat  6757 non-null   object
 4   Bina_Yas       6757 non-null   object
 5   Isitma_Tipi    6757 non-null   object
 6   Esya_Durumu    6757 non-null   object
 7   Ilce           6757 non-null   object
 8   Fiyat          6757 non-null   object
dtypes: int32(1), int64(1), object(7)
memory usage: 501.5+ KB

,Oda_Sayisi,Brut,Net,Bulundugu_Kat,Bina_Yas,Isitma_Tipi,Esya_Durumu,Ilce,Fiyat
0,2+1,80,75,Bodrum,21-25,Isıtma Yok,Eşyalı,Fatih,6500
1,1+1,61,50,4,5-10,Kombi,Eşyalı,Tuzla,7500
2,1+1,75,55,6-10,1,Merkezi,Eşyalı,Kağıthane,19000
3,2+1,85,80,5,21-25,Kombi,Eşyalı,Üsküdar,9000
4,2+1,100,90,4,4,Kombi,Eşyalı,Maltepe,20000
...,...,...,...,...,...,...,...,...,...
5910,1+1,102,90,6-10,3,Merkezi,Eşyalı,Şişli,40000
5911,3+1,170,120,3,2,Merkezi,Eşyasız,Eyüpsultan,40000
5912,2+1,100,67,21-25,3,Merkezi,Eşyasız,Eyüpsultan,35000
5914,3+1,165,135,5,0,Merkezi,Eşyasız,Sarıyer,38000
5915,1+1,100,93,6-10,2,Merkezi,Eşyalı,Şişli,22000

In [65]:
df_result.to_excel("mergeHome.xlsx")